@mixin reset-button($background: transparent) {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: $background;
  cursor: pointer;
}

@mixin shadow {
  content: '';
  display: block;
  width:  150px;
  height: 370px;
  position: absolute;
  z-index: 2;
}
