@import 'include-media/dist/include-media';

//fonts
$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;

//colors
$electric-vlilet: #E100FF;
$razzmatazz: #F80759;
$bright-turquoise: #12c2e9;
$mine-shaft: #222222;
$pure-white: #ffffff;
$cod-gray: #111111;
$cod-gray-light: #161616;

//breakpoints
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
);
