.nav {
  @include media('<lg') {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms;
    text-align: center;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
  }

  & ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    @include media('<lg') {
      flex-direction: column;
    }

    & li {
      margin: 0 15px 0 15px;
      font-size: 16px;

      @include media('<lg') {
        margin: 5px 0 5px 0;
      }

      & a {
        color: $pure-white;
        text-decoration: none;
        transition: 0.5s ease;

        &:hover {
          color: $razzmatazz;
        }
      }
    }
  }
}
