.programs {
  background: $cod-gray-light;
  padding: 20px 0 35px;

  &-wrapper {
    padding: 105px 0 30px 0;
  }

  &-title,
  & h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font-lato;
    padding: 20px 35px 0 35px;
  
    @include media('<lg') {
      padding: 25px 0 25px 0;
    }
    
    & h3 {
      padding: 30px 0 0 0;
    }

    &-icon {
      border: 2px solid $razzmatazz;
      padding: 20px;
      border-radius: 100%;
      width: 100px;
      height: 100px;
    }
  
    &-paragraph {
      font-size: 12px;
      opacity: 0.8;
    }

    & button {
      min-width: 180px;
    }
  }
}
