.contact {
  background: url('/assets/images/contact-bg.png')no-repeat;
  background-size: cover;
  font-family: $font-lato;
  padding: 0 0 80px 0;
  
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 0 0;

    & p {
      padding: 17px;
      font-size: 48px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.4px;

      @include media ('<sm') {
        font-size: 26px;
      }
    }
  }

  &-text {
    text-align: center;
    max-width: 615px;
    margin: 0 auto;

    & p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  & button {
    background: $razzmatazz;
    transition: 0.2s ease;
    margin: 55px 0 0 0;

    &:hover {
      background: rgb(206, 8, 74);
    }
  }
}