.footer {
  background: $cod-gray;
  text-align: center;

  &-nav {
    background: $razzmatazz;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px  0 10px 0;

    & ul li a:hover {
      color: black;
    }
  }

  &-copy {
    padding: 30px  0 30px 0;
    font-size: 16px;
    margin: 0px;
  }
}