.hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 12;

  @include media('>lg') {
    display: none;
  }

  & i {
    @include media('<lg') {
      color: $pure-white;
      font-size: 35px;
      cursor: pointer;
    }
  }

  &-active {
    width: auto;

    @include media('<lg') {
      display: flex;
      text-align: center;
      width: 100%;
      height: 100%;
      position: fixed;
      justify-content: center;
      align-items: center;
      z-index: 11;
      top: 0px;
      left: 0px;
      overflow: hidden;
      visibility: visible;
      background: $mine-shaft;
      opacity: 1;
      transition: all 200ms;
    }
  }
}
