.column {
  font-family: $font-lato;
  padding: 0 55px 0 5px;
  width: 50%;
  height: auto;

  @include media('<lg') {
    width: 100%;
    height: auto;
  }

  & p {
    font-size: 22px;

    &:last-of-type {
      font-size: 14px
    }
  }
}