.blog {
  background: $cod-gray-light;
  font-family: $font-lato;
  padding: 0 0 45px 0;
  
  & .row {
    display: flex;
    justify-content: space-around;
    
    @include media('<lg') {
      flex-direction: column;
      align-items: center;
    }
  }

  &-title {
    padding: 65px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  &-card { 
    border: 2px solid $mine-shaft;
    width: 262px;
    margin: 5px;
    @include media('<lg') {
      margin: 10px 0 10px 0;
    }

    &-role, 
    &-continue {
      padding: 0px 20px 0px 20px;
      margin: 0;
      color: $razzmatazz;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
    }


    &-title {
      padding: 0px 20px 0px 20px;
      color: $pure-white;
      font-weight: 700;
      line-height: 24px;
    }

    &-content {
      padding: 0px 20px 0px 20px;
      margin: 0px;
    }

    &-author {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px 0px 20px;
      
      & p {
        color: $bright-turquoise;
      }
    }
  }
}
