.full-width-slider {
  background: $cod-gray;
  padding: 60px 0 60px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 358px;
    min-height: 370px;
    box-shadow: inset 126px -43px 32px -61px #000000db;
    position: absolute;
    z-index: 2;

    @include media ('<sm') {
      width: 100%;
      min-height: 300px;
      box-shadow: inset 38px 0px 20px#000000bd;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 358px;
    min-height: 370px;
    box-shadow: inset -126px -43px 32px -61px #000000db;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 2;
    
    @include media ('<sm') {
      width: 100%;
      min-height: 300px;
    }
  }
  
  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}