.information {
  background: $cod-gray;
  padding: 85px 0 60px 0;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @include media ('<lg') {
      flex-direction: column;
      align-items: center;
    }
  }

  & h3 {
    font-weight: 700;
    margin: 0 0 50px 5px;
  }
  
  &-social {
    max-width: 275px;
    margin: 0 0 40px 0;

    &-title p {
      padding: 15px 0 0 0;
      font-size: 14px;
    }

    &-icons {
      padding: 28px 0 0 0;

      & p {
        font-size: 20px;
      }

      & a {
        color: $pure-white;
        text-decoration: none;
        border: 1px solid $mine-shaft;
        padding: 10px 0 10px;

        &:hover {
          border: 1px solid $razzmatazz;
        }

        & i {
          text-align: center;
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &-contact {
    max-width: 220px;
    margin: 0 0 40px 0;

    &-icons {
      display: flex;

      & i {
        color: $bright-turquoise;
        padding: 3px 12px 0 0;
        font-size: 18px;
      }

      & p {
        font-size: 14px;
      }
    }
  }

  &-tags {
    max-width: 320px;

    & ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0px;

      & li {
        list-style-type: none;
        color: $pure-white;
        border: 1px solid $mine-shaft;
        padding: 10px;
        margin: 5px;
        transition: 0.2s ease;

        &:hover {
          background: $razzmatazz;
        }
      }
    }
  }
}