.trainers {
  background: $cod-gray;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;

  @include media('<lg') {
    justify-content: center;
  }

  &-title h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-box {
    $trainers: &;
    position: relative;
    opacity: 0.5;
    margin: 38px 10px 0 0;
    border: 2px solid transparent;
    width: 212px;
    height: 300px;
    transition: 0.3s ease-in-out;
    color: $pure-white;
    filter: grayscale(100%);
    cursor: pointer;

    &:hover {
      opacity: 1;
      border: 2px solid $razzmatazz;
      filter: grayscale(0%);

      #{$trainers}-name,
      #{$trainers}-role {
        display: block;
      }
    }
  
    &-name {
      position: absolute;
      bottom: 40px;
      font-size: 18px;
      width: 100%;
      display: none;
    }
  
    &-role {
      position: absolute;
      bottom: 10px;
      font-size: 12px;
      width: 100%;
      color: $bright-turquoise;
      display: none;
    }
  
    & img {
      width: 100%;
      height: 296px;
      margin: 0px;
      object-fit: cover;
      
      @include media('<lg') {
        width: 208px;
      }
    }
  }
}
