.subscription {
  background: $cod-gray;
  padding: 160px 0 60px 0;
  font-size: $font-lato;
  
  &-title,
  & h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-row {
    display: flex;
    justify-content: space-around;

    @include media('<lg') {
      flex-direction: column;
      align-items: center;
    }
  }

  &-card {
    $card: &;
    text-align: center;
    margin: 20px 5px 0 5px;
    width: 360px;
    min-height: 500px;
    border: 2px solid $mine-shaft;
    transition: 0.5s ease;
    
    @include media('<md') {
      flex-direction: column;
      width: 310px;
      min-height: 570px;
    }

    &:hover {
      border: 2px solid $bright-turquoise;

      #{$card}-sub-lenght {
        background: $razzmatazz;
      }
    }

    &-price-lenght {
      padding: 49px 0 0 0;

      & span {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2.4px;
      }
    }

    &-sub-lenght {
      background-color: $mine-shaft;
      text-transform: capitalize;
      font-size: 18px;
      padding: 18px 0 18px 0;
      width: 101.4%;
      margin: 30px 0px 0 -2px;
      transition: 0.5s ease;
    }

    &-text {
      padding: 41px 90px 0 90px;
      letter-spacing: 0.7px;

      @include media('<md') {
        padding: 41px 70px 0 70px;
      }
    }

    & button {
      min-width: 180px;
      min-height: 50px; 
      margin: 20px 0 20px 0;     
    }
  }
}
