.hero {
  background: url('/assets/images/hero-bg.png') no-repeat center; 
  background-size: cover;
  font-family: $font-lato;

  &-wrapper {
    display: flex;
    align-items: center;
    min-height: 750px;

    &-text {
      color: $pure-white;
      width: 100%;
      padding: 55px 0 0 37px;
      
      & h1 {
        text-transform: uppercase;
        font-size: 60px;
        line-height: 100%;
    
        @include media('<lg') {
          font-size: 30px;
        }
    
        & span {
          color: $bright-turquoise;
          font-size: 48px;
          
          @include media('<lg') {
            font-size:25px;
          }
        }
      }
      
      & p {
        font-size: 16px;
        margin: 30px 0 25px 0;
      }
    }
  }
}
