.btn-gradient {
  @include reset-button();
  
  min-width: 200px;
  min-height: 50px;
  border-radius: 5px; 
  border: 1px solid $razzmatazz;
  color: $pure-white;
  margin: 0 15px 0 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  
  &:hover {
    background-color: $razzmatazz;
  }
 
  @include media('<lg') {
    margin: 0 0 15px 0;
  }
}