// Typography styles - headings, p, a, ul, ol, tables etc.

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
img,
ul,
ol,
table {
  margin: 0 0 15px;
}

h2 {
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  color: $pure-white;

  &::after {
    content: '';
    width: 60px;
    height: 2px;
    display: block;
    background: $razzmatazz;
    margin: 20px 0 0 0;
  }
}

h3 {
  color: $pure-white;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.1px;
}

h4 {
  color: $pure-white;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

h5 {
  color: $bright-turquoise;
  text-transform: capitalize;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0px;
  font-weight: 400;
} 

p {
  font-size: 14px;
  color: $pure-white;
  font-family: $font-lato;
  line-height: 24px;
}