.reviews {
  background: url('/assets/images/review-bg.png') no-repeat center; 
  background-size: cover;
  padding: 60px 0 95px 0;
  text-align: center;
  
  &-title,
  & h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-card {
    background: $mine-shaft;
    display: flex;
    min-height: 300px;
    margin:  0 auto;

    @include media('<sm') {
      border-radius: 209% 205% 100% 0% / 117% 114% 0% 0%;
      min-height: 400px;
      width: 250px;
      display: block;
    }

    &-client {
      margin: 0px;
      
      @include media('<sm') {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
        margin:  5px 0 0 0;
      }
    }
  
    &-text {
      text-align: left;
      padding: 30px 20px 0 30px;
    
      @include media('<sm') {
        padding: 30px 5px 0 10px;
      }
      
      & h5 {
        margin: 0px;
        padding: 0px;
      }
    
      & p {
        font-size: 12px;
        line-height: unset;

        &:first-of-type {
          font-size: 10px;
        }
      }
    
      & span {
        color: $razzmatazz;
        font-size: 20px;
      }
    }
  }
}