.swiper-video {
  width: 100%;
  object-fit: cover;
  height: 350px;
  cursor: pointer;

  &-thumb {
    cursor: pointer;
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}

.video-js {
  $big-btn: '.vjs-big-play-button';
  $placeholder: '.vjs-icon-placeholder';
  $tech: '.vjs-tech';
  
  #{$tech} {
    object-fit: fill;
  }

  #{$big-btn} {
    position: absolute;
    top: 40%;
    left: 45%;
    border: none;
    background-color: transparent;
    width: 53px;
    height: 53px;
    border-radius: 100%;

    #{$placeholder}:before {
      content: '';
      border: none;
      box-shadow: none;
      background: url('/assets/images/video-play-btn.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }
}
