@import './swiper-video';

.swiper {
  &-container {
    width: 100%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-slide-thumb {
    height: 102px;
    margin:  10px 0 0 0;
    width: 32%;
    opacity: 0.4;
  
    &-active {
      opacity: 1;
      border: 1px solid $razzmatazz;
    }
  }

  &-pagination-bullet {
    width: 14px;
    min-height: 14px;
    background: $pure-white;
    opacity: 1;
    
    &-active {
      background: $bright-turquoise;
    }
  }

  &-reviews-container {
    min-height: 410px;
    
    @include media('<sm') {
      min-height: 650px;
    }
  }

  &-full-width-slide {
    height: 370px;
    width: 370px;

    @include media('<sm') {
      height: 300px;
    }
  }

  &-button-next {
    position: absolute;
    z-index: 10;
  } 
}
