.simple-columns {
  background: $cod-gray;
  padding: 55px 0 85px 10px;
  
  &-wrapper {
    display: flex;

    @include media('<lg') {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  & h2:after {
    margin: 30px 0 0 0px;
  }

  & h5 {
    font-size: 20px;
  }

  & p {
    margin: 42px 0 0;
    padding: 0 20px 0 0;
  }
}